html {
  font-size: 16px;
}

body {
  background-image: url("/scp_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 960px;
  background-color: #101010;
  padding: 2em;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 4.5em;
}

.tagline {
  font-size: 3em;
  margin-top: 0;
}

.warning {
  color: #FF3131;
  border-top: 3px solid #FF3131;
  border-bottom: 3px solid #FF3131;
  padding: 1em 0.25em;
  margin-top: 8em;
  margin-bottom: 8em;
}

.intro {
  font-size: 1.5em;
  margin: 3.5em auto;
}

.scp-list {
  list-style: none;
  padding: 1em 1em 2em 1em;
  margin: 0;
  border: 1px solid #D70040;
}

.scp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 0;
  border-bottom: 1px solid whitesmoke;
}

.scp__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.scp__meta {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.scp__title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.scp__class {
  font-style: italic;
  color: darkgray;
  margin: 0;
}

.scp__date,
.scp__author {
  color: gray;
  font-size: 0.9em;
  margin: 0;
}

.section-title {
  text-align: center;
  font-size: 2em;
}